# Virtual Environment
**/test_env/
**/venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/
eggs/
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Project specific
LibMCMC/LibMCMC.egg-info/
**/tests/__pycache__/

# Temporary files
*.log
*.tmp
